
.mainCard {
    width: 60vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
 }

.mainCardContainer {
    width: 50vw;
    border: solid black 1px;
    border-radius: 20px;
}

.secondaryCard {
    width: 20vw;
    max-width: 500px;
    border: solid black 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 25vw;
}

.imageContainer{
    position: relative;
    border-radius: 20px;
}

img{
    border-radius: 20px 20px 0 0;
}

  .links{
    position: absolute;
    right: 0;
  }