.slider {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    max-width: 2000px;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    height: 100%;
    transition: all 2s ease;
    align-items: center;
    justify-content: start;
  }
  
  /* .item {
    width: 20%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;
  } */
  
 .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
    gap: 20px;
    color: rgb(255, 255, 255);
  }
  

  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* @media (min-width: 750px) {
    .slider {
      height: calc(75vh - 80px);
      margin-bottom: 50px;
    }
  
.icons {
      bottom: 50px;
    }
  } */
  

  .leftOverlay, .rightOverlay{
position: absolute;
height: 500px;
background-color: rgba(255, 0, 0, 0);
width: 20vw;
top: 0;
cursor: pointer;
z-index: 10;
  }

  .rightOverlay{
right: 0;
  }

  .leftOverlay{

  }