.slider {
    width: 100vw;
    position: relative;
    margin-bottom: 20px;
    max-width: 2000px;
    overflow: hidden;
  }
  
  .container {
    margin-left: 20vw;
    display: flex;
    height: 100%;
    transition: all 2s ease;
    align-items: center;
  }
  
  .item {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: 20%;
  }

  .focused {
    background-color: red;
    width: 60vw;
  }

  .not-focused {
    background-color: green;
    width: 20vw;
  }
  
 .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
    gap: 20px;
    color: rgb(255, 255, 255);
  }

  .links{
    position: absolute;
    bottom: -5;
    right: 0;
  }

  .image-container{
    position: relative;
  }
  
 .icon {
background-color: antiquewhite;
border-radius: 50%;
padding: 2px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* @media (min-width: 750px) {
    .slider {
      height: calc(75vh - 80px);
      margin-bottom: 50px;
    }
  
.icons {
      bottom: 50px;
    }
  } */
  