body {
box-sizing: border-box;
margin: 0;
background-image: url('/img/pattern.jpg');
background-repeat: repeat;
}


.websiteContainer{
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}