.nav {
    background-color: black;
    margin-top: 20px;
    border-radius: 50px;
    height: 700px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link{
    color: white;
}